.background {
    padding-top: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(8, 114, 186, 0.5)), url('../../assets/Images/Banner.jpg');
    background-size: cover;
    background-position: center;
    object-position: center;
    height: 60vh; 
    min-height: 700px; 
}

@media (max-width: 850px) {
    .background {
        height: 80vh; 
        min-height: 900px; 
    }
}

@media (max-width: 480px) {
    .background {
        height: 80vh;
        min-height: 900px;
    }
}
